<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <button id="disconnect-button">Disconnect</button>
    <button id="hello-button">Send Hello</button>
    <h1>Server Sent Events</h1>
    <ul id="events"></ul>
    <script>
      const sse = new EventSource('/sse')
      const ul = document.getElementById('events')
      sse.onmessage = (evt) => {
        const li = document.createElement('li')
        li.textContent = evt.data
        // console.log(evt)
        ul.appendChild(li)
      }
      const disconnectButton = document.querySelector('#disconnect-button')
      disconnectButton.addEventListener('click', () => {
        sse.close()
        console.log('SSE connection closed.')
      })
      const helloButton = document.querySelector('#hello-button')
      helloButton.addEventListener('click', () => {
        fetch('/trigger', {
          method: 'POST',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ value: 'Hello' }),
        })
      })
    </script>
  </body>
</html>